<main class="main">
  <div class="content">
    <table mat-table [dataSource]="sounds">
      <ng-container matColumnDef="id">
        <td mat-cell *matCellDef="let sound">{{ sound.id }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let sound">{{ sound.name }}</td>
      </ng-container>
      <ng-container matColumnDef="fileName">
        <td mat-cell *matCellDef="let sound">{{ sound.fileName }}</td>
      </ng-container>

      <tr
        mat-row
        *matRowDef="let sound; columns: ['id', 'name', 'fileName']"
        (click)="playSound(sound)"
      ></tr>
    </table>

    @if (selectedSound) {
    <div>
      <audio controls #audioPlayer>
        <source [src]="'assets/' + selectedSound.fileName" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
    </div>
    }
  </div>
</main>
